.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-areas:
    "customerCountCard   avgAgeCard    SDCard"
    "googleMaps          googleMaps    googleMaps";
}

.customerCountCard {
  grid-area: customerCountCard
}

.avgAgeCard {
  grid-area: avgAgeCard
}

.SDCard {
  grid-area: SDCard
}

.googleMaps {
  grid-area: googleMaps;
  height: 300px;
}